
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BDC 门户页</title>
    <link rel="stylesheet" href="/static/assert/Font-Awesome-3.2.1/css/font-awesome.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bootstrapValidator.min.css">
    <!-- editor 编辑器兼容bootstrap所必须的css文件，不然会有冲突 -->
    <link rel="stylesheet" href="/static/assert/editor/tests/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/assert/editor/css/editormd.css" />
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/btAttach.css">
    <script src = "https://cdn.bootcss.com/echarts/3.5.2/echarts.common.js"></script>

    
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href=""><img src="/static/img/logo1.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <!-- 导航条开始 -->
    <nav class = "main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <div class="navbar" role="navigation"> -->
                         <div class="navbar-header">
                            <!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle Navigation</span>
                                <i class = "icon-reorder"></i>
<!--                                 <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> -->
                            </button>
                            <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
                            <a href="##" class="navbar-brand">BDC辟谣网</a>
                        </div>
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="##" class = "btn">首页</a></li>
                                <li><a class="btn" data-toggle="modal" data-target=".bs-example-modal-lg">举报</a></li>
                                <li><a href="##" class = "btn" data-toggle="modal" data-target="#write-modal">辟谣</a></li>
                                <li><a href="##" class = "btn" id = "post-pages-btn">往期文章</a></li>
                                <li><a href="##" class = "btn">论坛</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="" type = "button" class = "btn" data-toggle = "modal" data-target = "#log-in" > <span class = "glyphicon glyphicon-log-in"></span> 登入</a></li>
                                <li><a href="##" type = "button" class = "btn" data-toggle = "modal" data-target = "#register"> <span class = "icon-user"></span>注册</a></li>
                            </ul>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </nav>
    <!-- 导航条结束 -->
    
    <!-- 数据展示区开始 -->
    <div class = "container" id = "data-show">
        <div class="row">
<!--             <div class = "col-md-4 col-sm-12">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">食品安全</option>
                            <option>健康养生</option>
                            <option>新科技</option>
                        </select>
            </div> -->
            <!-- 热门谣言轮播展示 -->
            <div class = "col-md-4 col-sm-12 carousel">
                <h2>热门谣言</h2>
                <div id = "data-carousel"></div>
            </div>
            <!-- 热门谣言轮播展示结束 -->
            <div class = "col-md-4 col-sm-12 col-md-offset-2">
                <h2>7天内的谣言变化情况</h2>
                <div id = "main" style="width: 500px;height:300px;"></div>
            </div>
        </div>
    </div>
    <!-- 数据展示区结束 -->
    
    <!-- 主体部分开始 -->
    <div class = "content">
        <div class = "container">
            <div class="row">
                <div class="article-content col-md-10 col-md-offset-1" id = "post-pages">

                </div>
            </div>
        </div>
    </div>
    <!-- 主体部分结束 -->
    

    <!-- 写作窗口模态窗开始 -->
    <div class="modal fade " id="write-modal" tabindex = -1 role = "dialog" aria-labelledby="write-title">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class = "icon-remove"></span></button>
                    <h4 class="modal-title" id="write-title">辟谣文章写作</h4>
                </div>

                <div class="modal-body">

                    <form class="" role="form">
                        <div class="form-group">
                            <label for="write-post-tab" class="control-label">文章所属类别</label>
                            <span class = "post-select-div">
                                <select name="" id="write-post-tab" class = "form-control">
                                    <option value="">食品安全</option>
                                    <option value="">健康养生</option>
                                    <option value="">新科技</option>
                                </select>
                            </span>
                        </div> 

                        <div class="form-group">
                            <label for="write-post-title" class="label-control">文章标题</label>
                            <input type="text" id = "文章标题" class="form-control" name = "title">
                        </div>

                        <div class = "form-group" id = "test-editormd">
                            <textarea style="display:none;"></textarea>
                        </div>
                    </form>

                </div>

                <div class = "modal-footer">
                    <button type = "button" class = "btn bdc-btn-primary" data-loading-text = "文章发表中" data-dismiss="modal" aria-label="Close">发表文章</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 写作窗口模态窗结束 -->















    <!-- 谣言举报模态窗开始 -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class = "row">
                        <div class = "col-md-offset-5">
                            <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class = "icon-remove"></span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">谣言举报</h4>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        
                        <div class="form-group">
                            <label for="rumor-title" class="col-md-2 control-label">标题</label>
                            <div class = "col-md-8">
                                <input type="text" class="form-control" id="rumor-title" name="title" placeholder="谣言标题">
                            </div>
                        </div>    

                        <div class="form-group">
                            <label for="rumor-link" class="col-md-2 control-label">链接</label>
                            <div class = "col-md-8">
                                <input type="text" class="form-control" id="rumor-link" name = "link" placeholder="https://">
                            </div>
                        </div>    
                
                        <div class="form-group">
                            <div for="rumor-source" class="col-md-2 control-label"><strong>来源</strong></div>
                            <div class = "col-md-8">
                                <label class = "radio-inline" for="frineds-cycle"><input type="radio" name="rumor-source" value="friends-cycle" id = "friends-cycle">朋友圈</label>
                                <label class = "radio-inline" for="message"><input type="radio" name="rumor-source" value="message" id = "message">短信</label>
                                <label class = "radio-inline" for="email"><input type="radio" name="rumor-source" value="email" id = "email">邮件</label>
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <div for="rumor-label" class="col-md-2 control-label"><strong>标签</strong></div>
                            <div class = "col-md-8">
                                <label class = "radio-inline" for="food-safety"><input type="radio" name="rumor-label" value="food-safety">食品安全</label>
                                <label class = "radio-inline" for="health"><input type="radio" name="rumor-label" value="health" id = "health">健康养生</label>
                                <label class = "radio-inline" for="technology"><input type="radio" name="rumor-label" value="technology" id = "technology">新科技</label>
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <label for="contact" class="col-md-2 control-label">联系方式</label>
                            <div class = "col-md-8">
                                <input type="text" class="form-control" id="contact" name = "contact" placeholder="联系方式">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rumor-text" class="col-md-2 control-label">正文</label>
                            <div class = "col-md-8">
                                 <textarea class="form-control" rows="3" id = "text" placeholder="谣言正文"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class = "col-md-8 col-md-offset-2 btn btn-info submit" data-dismiss="modal" aria-label="Close">   
                                提交
                                <!-- <button class = "btn btn-info" type = "submit">提交</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 谣言举报模态窗结束 -->
    
    <!-- 注册登录页模态窗口开始 -->

    <!-- 登录页部分开始 -->
    <div class="modal fade" id="log-in" tabindex="-1" role="dialog" aria-labelledby = "log-in-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id = "log-in-title">
                    <div class="row">
                        <div class="col-md-offset-5">
                            <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class = "icon-remove"></span></button>
                            <h4 class="modal-title">登录</h4>
                        </div>
                    </div>
                </div>

                <div class = "modal-body">
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="log-in-name">用户名</label>
                            <div class="col-md-8">
                                <input type="text" id="log-in-name" name = "userName" class = "form-control" placeholder = "用户名">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="log-in-password" >密码</label>
                            <div class="col-md-8">
                                <input type="password" id="log-in-password" name = "password" class = "form-control" placeholder = "密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class = "col-md-8 col-md-offset-2 btn btn-info submit" data-dismiss="modal" aria-label="Close">   
                                提交
                                <!-- <button class = "btn btn-info" type = "submit">提交</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 登录页结束 -->
    
    <!-- 注册页开始 -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby = "register-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id = "register-title">
                    <div class="row">
                        <div class="col-md-offset-5">
                            <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class = "icon-remove"></span></button>
                            <h4 class="modal-title">用户注册</h4>
                        </div>
                    </div>
                </div>

                <div class = "modal-body">
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="register-name">用户名</label>
                            <div class="col-md-8">
                                <input type="text" id="register-name" name = "userName" class = "form-control" placeholder = "用户名">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-2" for="register-email">邮箱地址</label>
                            <div class="col-md-8">
                                <input type="text" id="register-email" name = "email" class = "form-control" placeholder = "邮箱地址">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-2" for="register-contact">手机号码</label>
                            <div class="col-md-8">
                                <input type="text" id="register-contact" name = "contact" class = "form-control" placeholder = "手机号码">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="register-password">密码</label>
                            <div class="col-md-8">
                                <input type="password" id="register-password" name = "password" class = "form-control" placeholder = "密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class = "col-md-8 col-md-offset-2 btn btn-info submit " data-dismiss="modal" aria-label="Close">   
                                提交
                                <!-- <button class = "btn btn-info" type = "submit">提交</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 注册页结束 -->
    <!-- 注册登录页模态窗口结束 -->

    <div id = "test"></div>
    <script src="/static/js/jquery-3.2.0.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "/static/js/particle.js"></script>
    <script src = "/static/js/move.js"></script>
    <script src = "/static/js/main.js"></script>
    <script src = "/static/js/ajax.js"></script>
    <script src = "/static/js/bootstrapValidator.js"></script>
    <script src = "/static/js/zh_CN.js"></script>
    <!-- <script src = "static/assert/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script> -->
    <!-- <script src = "static/assert/bootstrapvalidator/dist/js/language/zh_CN.js"></script> -->
    <script src = "/static/js/formConfirm.js"></script>
    <script src = "/static/assert/editor/editormd.js"></script>
    <script src = "/static/js/editorSetting.js"></script>
    <script src = "/static/js/formConfirm.js"></script>
    <script src = "/static/js/charts.js"></script>
</body>
</html>
