{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block content %}
{% if showingPassages == '无展示谣言' %}
    {{ showingPassages }}
    {% else %}
    {% for item in showingPassages %}
    {{ item.passageTitle }}
    {{ item.passageBody|markdown:'recipe' }}
    {% endfor %}
    {% endif %}
{% if passages == '今日无新增举报' %}
    {{ passages }}
{% endif %}
{% for item in passagesCounts %}
    {{ item }}
{% endfor %}
<img src="/static/wordcloud/wordcloud.png"/>
<a href="/threads/">threads</a>
<a href="/categories/">catagories</a>
<a href="/login/">login</a>
<a href="/postPassagePage/">postpassages</a>
<a href="/postBlogPage/">postblog</a>
<a href="/blogPage/">blogPage</a>
{% endblock %}